<html>
    <body>
        <main class="cotainer" style="text-align: center;">
            <h1 style="text-align: center;">Details</h1>
            <h3>
                {% if obj %}
                    {% for i in obj %}
                        <ul><p>Student Name: {{ i.name }}<br></p>
                        <p>Roll_Number: {{ i.rollno }}<br></p>
                        <p>Class_Section: {{ i.classSection }}<br></p></ul>
                    {% endfor %}
                {% endif %}
            </h3>
        </main>
    </body>
</html>